@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

nav {
    background: #eee;
    border-right: 2px solid #777;
    width: 350px;
    height: 100vh;
}
 
nav a {
    border-top: 1px solid #777;
    color: #000;
    display: block;
    padding: 15px;
    text-decoration: none;
}

main {
    flex: 1;
    height: 100vh;
    overflow: scroll;
}

section {
    padding: 15px;
    line-height: 1.3;
}

header {
    font-size: 28px;
    font-weight: 600;
    padding: 20px;
}

pre {
    padding-top: 14px;
    background-color: #ddd;
  
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
    nav {
        border-right: none;
        border-bottom: 1px solid #777;
        height: 200px;
        overflow-y: scroll;
        width: 100%;
    }

    main {
        height: auto;
        width: 100%;
    }
    
}